<%- include("./partials/header.ejs"); %>

<h1>Build Page.</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Component</th>
        <th scope="col">Selection</th>
        <th scope="col">Price</th>
        <th scope="col">(Buy)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">CPU</th>
        <td><a class="btn btn-primary btn-sm" href="/products/cpu">+ Add CPU</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">CPU Cooler</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add CPU Cooler</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Motherboard</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add Motherboard</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Memory</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add Memory</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Storage</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add Storage</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Video Card</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add Video Card</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Case</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add Case</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Power Supply</th>
        <td><a class="btn btn-primary btn-sm" href="#">+ Add Power Supply</a></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<%- include("./partials/footer.ejs"); %>