<%- include("../partials/header.ejs"); %>

<div class="authentication container text-center">
    <h1>Login</h1>
    
    <% if (errMessages.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% errMessages.forEach(function(message){ %>
                <p><%= message %></p>
            <% }) %>
        </div> 
    <% } %>
    
    <div class="row justify-content-md-center">
        <form class="form-signin" action="/user/login" method="POST">
            
            <label for="email" class="sr-only">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required autofocus>
        
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block">Log in</button>
        </form>
    </div>

    
</div>

<%- include("../partials/footer.ejs"); %>