<%- include("../partials/header.ejs"); %>

<div class="container">
	<div class="titlePage">
		<h1>Profile page</h1>
	</div>
	
	<a href="/user/orders">Show all orders</a>
</div>

<%- include("../partials/footer.ejs"); %>