<%- include("../partials/header.ejs"); %>

<div class="container text-center">
    <h1>Register</h1>

    <% if (errMessages.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% errMessages.forEach(function(message){ %>
                <p><%= message %></p>
            <% }) %>
        </div> 
    <% } %>

    <div class="row justify-content-md-center">
        <form class="form-signin" action="/user/register" method="POST">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
            
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-primary">Register</button>
        </form>
    </div>


</div>

<%- include("../partials/footer.ejs"); %>